* {
    background-color: #e3e3e3;
    font-family: monospace;
    font-size: 14px;
  }

  h1 {
    font-size: 3rem;
    padding-top: 25px;
  }

  header {
    text-align: center;
    padding-bottom: 10px;
  }
  img{
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;

  }

  div#img-div, #img-caption {
    background-color: white;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: .8rem;
  }

  div#tribute-info{
    max-width: 500px;
    text-align: left;
    margin: 0 auto;
    font-size: 1.2rem;
  }
  #info-header strong{
    font-size: 1.4rem;
  }
   ul {
     text-align: left;
     max-width: 500px;
     margin-left: auto;

   }
   li {
    padding-bottom: 5px;

   }

   #quote {
     font-style: italic;
   }
   p#footer {
    text-align: center;
   }